<div class="container nopadding">
  <div class="row nopadding" id="dashboard">
    <div class="col">
      <div>Active Balance</div>
      <div>Balance: {{confirmedBalance | coinNotation | coinAbbreviation}}</div>
      <div>Unconfirmed Balance: {{unconfirmedBalance | coinNotation | coinAbbreviation}}</div>
    </div>
    <div class="col">
      <div>Current Value</div>
      <div>Over 9000</div>
    </div>
    <div class="col">
      <div>
        <button (click)="openSendDialog()" class="btn" id="sendButton">Send</button>
        <button (click)="openReceiveDialog()" class="btn" id="receiveButton">Receive</button>
      </div>
    </div>
  </div>
  <div class="row" id="transactions">
    <div class="col">
      <div>Transactions</div>
      <table cellspacing="5px" cellpadding="5px" class="transactionsTable" *ngIf="transactions; else noTransactions">
        <thead>
          <th>Amount</th>
          <th>Confirmed</th>
          <th>Timestamp</th>
          <th>Transaction ID</th>
        </thead>
        <tr *ngFor="let transaction of transactions; let i=index">
            <!--<td *ngIf="{{ transaction.amount }} < 0">SENT</td>
            <td *ngIf="{{ transaction.amount }} > 0">RECEIVED</td>-->
            <td *ngIf="i<5">{{ transaction.amount | coinNotation | coinAbbreviation }}</td>
            <td *ngIf="i<5">{{ transaction.confirmed }}</td>
            <td *ngIf="i<5">{{ transaction.timestamp * 1000 | date:'medium' }}</td>
            <td *ngIf="i<5">{{ transaction.txId }}</td>
        </tr>
      </table>
      <ng-template #noTransactions>Looks like you haven't made any transactions yet</ng-template>
    </div>
  </div>
</div>
