<div class="container nopadding">
  <div class="d-flex flex-row align-items-center nopadding" id="dashboard">
    <div class="d-flex flex-column">
      <div class="p">Active Balance</div>
      <div class="p">Balance: {{confirmedBalance | coinNotation }}</div>
      <div class="p">Unconfirmed Balance: {{unconfirmedBalance | coinNotation }}</div>
    </div>
    <div class="d-flex flex-column">
      <!--<div>Current Value</div>
      <div>Over 9000</div>-->
    </div>
    <div class="d-flex flex-column ml-auto">
      <div>
        <button (click)="openSendDialog()" class="btn" id="sendButton">Send</button>
        <button (click)="openReceiveDialog()" class="btn ml-2" id="receiveButton">Receive</button>
      </div>
    </div>
  </div>
  <div class="row" id="transactions">
    <div class="col">
      <div>Transactions</div>
      <table cellspacing="5px" cellpadding="5px" class="transactionsTable" *ngIf="transactions; else noTransactions">
        <thead>
          <th>Type</th>
          <th>Amount</th>
          <th>Transaction ID</th>
          <th>Confirmed in block</th>
          <th>Timestamp</th>
        </thead>
        <tr *ngFor="let transaction of transactions; let i=index">
          <!--<td *ngIf="{{ transaction.amount }} < 0">SENT</td>
          <td *ngIf="{{ transaction.amount }} > 0">RECEIVED</td>-->
          <td *ngIf="i<5">{{ transaction.type }}</td>
          <td *ngIf="i<5">{{ transaction.amount | coinNotation }}</td>
          <td *ngIf="i<5">{{ transaction.id }}</td>
          <td *ngIf="i<5">{{ transaction.confirmedInBlock }}</td>
          <td *ngIf="i<5">{{ transaction.timestamp * 1000 | date:'medium' }}</td>
        </tr>
      </table>
      <ng-template #noTransactions>Looks like you haven't made any transactions yet</ng-template>
    </div>
  </div>
</div>
