.container {
  width: 100%;
}

#dashboard {
  /*padding-top: 50px !important;*/
  padding-left: 100px !important;
  padding-right: 100px !important;
  border: 2px solid;
  border-color: #D5E3F0;
  background-color: #DAE6F2;
  height: 200px;
  width:100%;
}

#sendButton {
  width: 100px;
  font-family: "Lato Black";
  color: #A1B0C3;
  background-color: white;
  border-radius: 25px;
}

#receiveButton {
  width: 100px;
  font-family: "Lato Black";
  color: white;
  background-color: #20B9FF;
  border-radius: 25px;
}

#transactions {
  padding-left: 100px !important;
  margin-top: 10px;
}

.transactionsTable {
  border-collapse: separate;
  border-spacing: 10px;
}

.transactionsTable tr {
  border: 1px solid #D5E3F0;
  text-align: left;
  border-spacing: 10px;
}

.transactionsTable th {
  text-align: left;
  border-spacing: 10px;
}

.transactionsTable td {
  height: 50px;
  vertical-align: center;
}
