<div id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="modal_logout" aria-hidden="true">
  <div class="modal-dialog modalBg" role="document">
    <div>
      <div class="modal-header">
        <div class="bubble"><i class="icon-switch"></i></div>
      </div>
      <div class="modal-body">
        <h5 class="modal-title text-uppercase" id="modalReceive">Log out</h5>
        <form>
          <div class="form-group clearfix">
            <p class="text-muted text-center">Are you sure you want to log out?</p>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')">Cancel</button>
            <button type="button" class="btn btn-primary ml-2" data-dismiss="modal" aria-label="Logout" (click)="onLogout()">Yes</button>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <p></p>
      </div>
    </div>
  </div>
</div>
