 <section id="breeze">
  <!-- CONTENT -->
  <section id="content" class="bitcoin">
    <!-- JUMBOTRON-->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xs-12 col-md-4 text-left">
            <h5 class="text-uppercase">Active balance</h5>
            <p class="lead">
              <i class="icon-bitcoin"></i>
              <!--<strong><span class="h2">29</span>.76500293</strong>-->
              <strong>{{confirmedBalance | coinNotation }}</strong>
              <!--<small class="text-uppercase">btc</small>-->
            </p>
          </div>
          <!-- /col-->
        </div>
        <!-- /row-->
      </div>
      <!-- /container-->
    </div>
    <!-- /JUMBOTRON-->

  </section>
  <!-- /CONTENT-->
</section>
<!-- /breeze-->
