################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Breeze.Api/.vs
/Breeze.Api/src/Breeze.Api.Tests/bin
/Breeze.Api/src/Breeze.Api.Tests/obj
/Breeze.Api/src/Breeze.Api/bin
/Breeze.Api/src/Breeze.Api/obj
*.user
/Breeze.Api/src/Breeze.Api/Wallets
/Breeze.Api/src/Breeze.Wallet/bin
/Breeze.Api/src/Breeze.Wallet/obj

# DNX
project.lock.json
