<section id="breeze">
  <div class="login d-flex align-items-center text-center">
    <div class="container">
      <!--<p class="text-back text-left mb-5 col-6 row">
        <button type="button" class="btn btn-link text-back" (click)="onBackClicked()">Back</button>
      </p>-->

      <p class="textback text-left col-8 mx-auto">
        <a (click)="onBackClicked()">
          <span class="ico-arrow-left2"></span>
        </a>
      </p>
      <h3 class="display-5">Welcome</h3>
      <p class="lead my-4 mb-5">
        If you would like to create a new wallet, please click Create. <br/>
        If you used Breeze before, please click Restore to recover your old wallet.
      </p>
      <div class="col-3 mt-4 mx-auto row d-flex justify-content-center">
        <button type="button" class="btn btn-secondary btn-block btn-lg" (click)="onRecoverClicked()">Restore</button>
        <button type="button" class="btn btn-darkgray btn-block btn-lg mt-3" (click)="onCreateClicked()">Create</button>
      </div>
    </div>
    <!-- /container-->
  </div>
  <!-- /login-->
</section>
<!-- /breeze-->
