<div class="container">
  <div class="row">
    <div class="col">
      <table *ngIf="transactions; else noTransactions">
        <thead>
          <th>Type</th>
          <th>Amount</th>
          <th>Transaction ID</th>
          <th>Confirmed in block</th>
          <th>Timestamp</th>
        </thead>
        <tr *ngFor="let transaction of transactions">
          <!--<td *ngIf="{{ transaction.amount }} < 0; else received">SENT</td>
          <td #received>RECEIVED</td>-->
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.amount | coinNotation | coinAbbreviation }}</td>
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.confirmedInBlock }}</td>
          <td>{{ transaction.timestamp * 1000 | date:'medium' }}</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <ng-template #noTransactions>Looks like you haven't made any transactions yet.</ng-template>
      </div>
    </div>
  </div>
</div>
