<div class="content-wrapper" id="sendForm">
  <h1>Send</h1>
  <form [formGroup]="sendForm" (ngSubmit)="send()">
      <div class="form-group">
        <label>Pay To: </label>
        <input class="form-control" formControlName="address" type="text" placeholder="Please enter the recipients address.">
        <div *ngIf="formErrors.address" class="alert alert-danger">{{formErrors.address}}</div>
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input class="form-control" formControlName="amount" type="text" placeholder="Please enter the amount you want to send.">
        <div *ngIf="formErrors.amount" class="alert alert-danger">{{formErrors.amount}}</div>
      </div>
      <button type="submit" [disabled]="!sendForm.valid" class="btn btn-success">Send</button>
      <button type="button" class="btn" (click)="activeModal.close('Close click')">Close</button>
  </form>
</div>
