<div id="modalSend" tabindex="-1" role="dialog" aria-labelledby="modal_send" aria-hidden="true">
  <div class="modal-dialog modalBg" role="document">
    <div>
      <div class="modal-header">
        <div class="bubble"><i class="icon-upload"></i></div>
      </div>
      <div class="modal-body">
        <h5 class="modal-title text-uppercase" id="modalSend">Send</h5>
        <form [formGroup]="sendForm" (ngSubmit)="send()">
          <!--<div class="form-group has-danger clearfix">-->
            <div class="form-group clearfix">
            <label class="float-left" for="Amount">Amount</label>
            <!-- <span class="float-right btn-link" (click)="getMaxBalance()">max</span> -->
            <input type="text" class="form-control form-control-danger" formControlName="amount" id="Amount" placeholder="0.00 {{ coinUnit }}">
            <div *ngIf="formErrors.amount" class="form-control-feedback">{{ formErrors.amount }}</div>
          </div>
          <!--<div class="form-group has-success">-->
          <div class="form-group clearfix">
            <label for="destinationAddress">Destination address</label>
            <input type="text" class="form-control form-control-success" formControlName="address" id="destinationAddress" placeholder="Please enter the destination address here.">
            <div *ngIf="formErrors.address" class="form-control-feedback">{{ formErrors.address }}</div>
          </div>
          <div class="form-group clearfix">
            <label>Transaction Fee</label>
            <!-- fee buttons -->
              <div class="radioButtons" ngbRadioGroup name="feeButtons" formControlName="fee">
                <label ngbButtonLabel class="btn btn-outline-danger">
                  <input ngbButton type="radio" value="low">Low/Slow
                </label>
                <label ngbButtonLabel class="btn btn-outline-warning mx-2">
                  <input ngbButton type="radio" value="medium">Medium
                </label>
                <label ngbButtonLabel class="btn btn-outline-success">
                  <input ngbButton type="radio" value="high">High/Fast
                </label>
              </div>
            <!-- /fee buttons -->
          <div class="form-group clearfix">
            <div *ngIf="estimatedFee">
              <label>Estimated Fee: </label>
              <label>{{ estimatedFee | coinNotation }} {{ coinUnit }}</label>
            </div>
          </div>
          </div>
          <div class="form-group clearfix">
            <label for="walletPassword">Wallet Password</label>
            <input type="password" class="form-control form-control-success" formControlName="password" id="walletPassword" placeholder="Please enter your wallet password.">
            <div *ngIf="formErrors.password" class="form-control-feedback">{{formErrors.password}}</div>
          </div>
          <div *ngIf="apiError" class="text-danger mt-2">{{ apiError }}</div>
        </form>
        <!-- /form-->
      </div>
      <div class="row d-flex justify-content-center">
        <a><button type="button" class="btn btn-link col-12" (click)="activeModal.close('Close click')">Cancel</button></a>
      </div>
      <div class="modal-footer" *ngIf="!isSending">
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="!sendForm.valid || isSending" (click)="send()">Send</button>
      </div>
      <div class="modal-footer" *ngIf="isSending">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
