<div class="content-wrapper">
    <h1>Receive</h1>
    <div>
        <div>
            <table *ngIf="addresses"> 
                <thead>
                    <th>Unused Receive Addresses: </th>
                </thead>
                <tr *ngFor="let address of addresses">
                    <td>{{ address }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <label>Used Receive Addresses</label>
    </div>
    <div>
        <label>Change Addresses</label>
    </div>
</div>