<div class="container" id="receiveForm">
  <div class="row">
    <div class="col">
      <h1>Receive</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table *ngIf="address">
        <thead>
          <th>Receive address: </th>
        </thead>
        <tr>
          <td>{{ address }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</div>
