<nav class="navbar navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand">Breeze</a>
        <dashboard-component></dashboard-component>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="send">Send</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="receive">Receive</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="history">History</a></li>
            <li class="nav-item"><a class="nav-link" (click)="logOut()">Logout</a></li>
        </ul>
    </div>
</nav>
