<section id="content" class="bitcoin">
  <nav class="navbar navbar-toggleable-xl navbar-inverse">
    <div class="collapse navbar-collapse" id="navbarBreeze">
      <ul class="navbar-nav mr-auto ml-5" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" [routerLinkActive]="['is-active']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="history" [routerLinkActive]="['is-active']">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Logout</a>
        </li>
      </ul>
      <!-- /ul-->
    </div>
    <!-- /navbar-collapse-->
  </nav>
  <!-- /nav-->
</section>
