<section id="content" class="bitcoin">
  <nav class="navbar fixed-top navbar-toggleable-xl navbar-inverse">
    <div class="collapse navbar-collapse" id="navbarBreeze">
      <ul class="navbar-nav ml-auto col-9" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" [routerLinkActive]="['is-active']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="history" [routerLinkActive]="['is-active']">History</a>
        </li>
      </ul>
      <!-- /ul-->
      <div class="ml-auto d-flex align-items-center">
        <img src="../../../assets/images/logo.svg" width="113px" height="30px" alt="Breeze Logo">
      </div>
    </div>
    <!-- /navbar-collapse-->
  </nav>
  <!-- /nav-->
</section>
