<!-- SIDEBAR -->
  <aside id="sidebar">
    <ul class="list-unstyled menu">
      <li class="active">
        <!--<a href="#">--><img src="../../../assets/images/ico_bitcoin.svg" alt="Bitcoin"><!--</a>-->
        <span class="bar"></span>
      </li>
      <!--<li>
        <a href="#"><img src="../../../assets/images/ico_stratis.svg" alt="Stratis"></a>
        <span class="bar"></span>
      </li>-->
    </ul>
    <!-- /menu-->
    <ul class="list-unstyled second">
      <li>
        <a>
          <span class="icon-switch" (click)="logOut()"></span>
        </a>
      </li>
    </ul>
  </aside>
  <!-- /sidebar -->
