<!-- sidebar -->
  <aside id="sidebar">
    <!-- menu-->
    <ul class="list-unstyled menu">
      <li (click)="loadBitcoinWallet()" [class.active]="bitcoinActive">
        <img src="../../../assets/images/ico_bitcoin.svg" alt="Bitcoin">
        <span class="bar"></span>
      </li>
      <li (click)="loadStratisWallet()" [class.active]="stratisActive">
        <img src="../../../assets/images/ico_stratis.svg" alt="Stratis">
        <span class="bar"></span>
      </li>
    </ul>
    <!-- /menu-->
    <ul class="list-unstyled second">
      <li>
        <a>
          <span class="icon-switch" (click)="logOut()"></span>
        </a>
      </li>
    </ul>
  </aside>
  <!-- /sidebar -->
