 <div id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modal_detail" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div>
      <div class="modal-header">
        <div class="bubble"><i class="icon-block"></i></div>
      </div>
      <div class="modal-body">
        <h5 class="modal-title text-uppercase" id="modalDetail">Transaction Details</h5>
        <ul class="list-inline row">
          <li class="list-inline-item col blockLabel">Type</li>
          <li class="list-inline-item col-9 blockText">{{ transaction.type }}</li>
        </ul>
        <ul class="list-inline row">
          <li class="list-inline-item col blockLabel">Amount</li>
          <li class="list-inline-item col-9 blockText"><strong class="text-success">{{transaction.amount | coinNotation }}</strong></li>
        </ul>
        <!--<ul class="list-inline row">
          <li class="list-inline-item col blockLabel">From</li>
          <li class="list-inline-item col-9 blockText"><code>n4kVJQarwwdmsXDdgNnJHgBSpZ8MhSkNBx</code></li>
        </ul>-->
        <ul class="list-inline row">
          <li class="list-inline-item col blockLabel">Date</li>
          <li class="list-inline-item col-9 blockText"><small>{{ transaction.timestamp * 1000 | date:'medium' }}</small></li>
        </ul>
        <ul class="list-inline row">
          <li class="list-inline-item col blockLabel">Block</li>
          <li class="list-inline-item col-9 blockText">#{{ transaction.confirmedInBlock }}</li>
        </ul>
        <ul class="list-inline row">
          <li class="list-inline-item col blockLabel">Transaction ID</li>
          <li class="list-inline-item col-9 blockText blockID"><code>{{ transaction.id }}</code></li>
          <span class="float-right"><a ngxClipboard [cbContent]="transaction.id" (click)="onCopiedClick()">copy</a></span>
          <span class="badge badge-success list-inline-item col" *ngIf="copied">The transaction ID has been copied to your clipboard.</span>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')">OK</button>
      </div>
    </div>
  </div>
</div>
