<div id="modalCheck" tabindex="-1" role="dialog" aria-labelledby="modal_check" aria-hidden="true">
  <div class="modal-dialog modalBg" role="document">
    <div>
      <div class="modal-body">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
        <p class="lead text-success text-center">
          <strong>Your transaction has completed successfully!</strong>
        </p>
        <!-- <small class="text-center d-block">
         <a class="btn btn-link" (click)="toggleDetails()">Show details</a>
        </small>
         <div *ngIf="showDetails" id="collapseExample"> -->
        <div>
          <div class="card card-block">
            <ul class="list-inline row">
              <li class="list-inline-item col blockLabel">Type</li>
              <li class="list-inline-item col-9 blockText">Sent</li>
            </ul>
            <ul class="list-inline row">
              <li class="list-inline-item col blockLabel">Amount</li>
              <li class="list-inline-item col-9 blockText text-danger">-{{ transaction.amount | number:'1.8-8' }} {{ coinUnit }}</li>
            </ul>
            <ul class="list-inline row">
              <li class="list-inline-item col blockLabel">Fee</li>
              <li class="list-inline-item col-9 blockText text-danger">-{{ transactionFee }} {{ coinUnit }}</li>
            </ul>
            <ul class="list-inline row">
              <li class="list-inline-item col blockLabel">Destination</li>
              <li class="list-inline-item col blockText mt-2"><code>{{ transaction.destinationAddress }}</code></li>
            </ul>
            <!-- <ul class="list-inline row">
              <li class="list-inline-item col blockLabel">Date</li>
              <li class="list-inline-item col-9 blockText"><small>{{ transaction.timestamp * 1000 | date:'medium' }}</small></li>
            </ul>
            <ul class="list-inline row">
              <li class="list-inline-item col blockLabel">transaction ID</li>
              <li class="list-inline-item col-9 blockText blockID"><code>{{ transaction.id }}</code></li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')">OK</button>
      </div>
    </div>
  </div>
</div>
