<section id="breeze">
  <div class="login d-flex align-items-center text-center">
    <div class="container">
      <p class="textback text-left mb-5 col-11 mx-auto">
        <a (click)="onBackClicked()">
          <span class="ico-arrow-left2"></span>
        </a>
      </p>
      <h3 class="display-5">Secret words</h3>
      <p class="lead">Please write down your secret words and password. <br>You will need <strong>both</strong> to recover your wallet in the future.</p>
      <div class="row d-flex justify-content-center my-5">
        <ul *ngFor="let word of mnemonicArray; let i=index" class="list-inline list-unstyled col-xs-12 col-md-6">
          <li class="list-inline-item"><span class="badge badge-default">{{ i + 1 }}. {{ word }}</span></li>
        </ul>
      </div>
      <!-- /row-->
      <div class="row d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-linkgray btn-lg col-12">Save the list somewhere</button> -->
        <button type="button" class="btn btn-darkgray btn-lg" (click)="onContinueClicked()">Continue</button>
      </div>
      <!-- /row-->
    </div>
    <!-- /container-->
  </div>
  <!-- /login-->
</section>
<!-- /breeze-->
