<section id="breeze">
  <div class="login d-flex align-items-center text-center">
    <div class="container">
      <h3 class="display-5">Secret words</h3>
      <p class="lead">Please write down your secret words and password. <br>You will need <strong>both</strong> to recover your wallet in the future.</p>
      <div class="row d-flex justify-content-center mt-4">
        <ul class="list-inline list-unstyled col-6 mx-auto">
          <li *ngFor="let word of mnemonicArray; let i=index" class="list-inline-item">
            <span class="badge badge-default">{{ i + 1 }}. {{ word }}</span>
          </li>
        </ul>
      </div>
      <div class="form-control-feedback text-center mt-3 mb-5">Write down your secret words and password before you continue</div>
      <!-- /row-->
      <div class="row d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-linkgray btn-lg col-12">Save the list somewhere</button> -->
        <button type="button" class="btn btn-linkgray mr-4" (click)="onCancelClicked()">Cancel</button>
        <button type="button" class="btn btn-darkgray btn-lg" (click)="onContinueClicked()">Continue</button>
      </div>
      <!-- /row-->
    </div>
    <!-- /container-->
  </div>
  <!-- /login-->
</section>
<!-- /breeze-->
