// custom variables (it will overwrite the basic variables)


/////////////////////////////
//
//    VARIABLES
//
/////////////////////////////

// links
$link-color : #D0BF90;

// buttons
$btn-primary-color:              $white !important;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-secondary-color:            $gray-dark !default;
$btn-secondary-bg:               $white !default;
$btn-secondary-border:           $gray-light !default;

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}


/////////////////////////////
//
//    CUSTOM
//
/////////////////////////////

// NAVBAR
#navbarBreeze {
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $gray-dark;
        font-size: .86rem;
        &:hover {color: lighten($brand-primary,20%);}
        &.is-active {
          border-bottom: 2px solid $brand-primary !important;
          color: $brand-primary !important;
        }
      }
    }
  }
}


#content {
  &.bitcoin {

    // JUMBOTRON
    .jumbotron {
      i {
        color: $brand-primary;
        font-size: 1.75em;
        margin-right: .3em;
      }
    }

    // TRANSACTIONS
    #transaction {
      a {color: $link-color;}
      // Cards
      .card {
        border: $card-border-width solid $teal;
        color: #BFBFBF !important;
        font-size: .85em;
        .amount {
          color: $black;
          font-weight: 600;
          small {
            font-size: 70%;
            margin-right: 1rem;
          }
        }
        &:hover {
          border-color: #FCDCB5 !important;
          background-color: #FEFDFA !important;
          box-shadow: 0 2px 10px 0 rgba(80,96,120,0.10);
        }
      }
    }

    // Tumblebit
    #Tumblebit {
      i {
        font-size: 6.5rem;
        &.OFF {
          -webkit-text-fill-color: #DCE8F1 !important;
          fill: #DCE8F1 !important;
        }
        &.ON {
          -webkit-text-fill-color:: $brand-primary !important;
          fill: $brand-primary !important;
        }
      }
      .help {
        color: $gray;
        font-size: .9em;
        font-style: italic;
        line-height: 1.3em;
        font-weight: 200;
      }
      button {.icon-circle-down {color: rgba($gray,.5);}}
      .dropdown-toggle {
        // Generate the caret automatically
        &::after {
          content: none !important;
        }
      }
    }

  }
}

// MODAL
.modal-header {
  .bubble {
    i {color: $brand-primary;}
  }
}
.modal-dialog {
  .badge {margin: 1em 0;}
}
#modalDetail {
  a {
    color: $link-color;
    text-decoration: underline;
    &:hover {color: lighten($link-color ,10%); text-decoration: none;}
  }
}
#modalSend, #modalReceive {
  .float-right {a {color: $link-color !important; text-decoration: underline; &:hover {text-decoration: none;}}}
}
#modalCheck {
  .btn-link, .card {
    a {color: $link-color !important;}
  }
}
