/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Lato";
}

/* Temporary min td with */
td {
  min-width: 100px;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #444444;
}

button {
  font-family: "Lato Black";
  color: white;
  background-color: #20B9FF;
  border-radius: 25px;
}

label {
  color: #666666;
}

.form-control::-webkit-input-placeholder
{
  color: #BBBBBB;
}

.content-wrapper {
  width: 100%;
  height: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row {
  padding: 0;
  margin: 0;
}

.col {
  padding: 0;
  margin: 0;
}
