<div class="container col-md-8 offset-md-2">
  <div class="row">
    <div class="col">
      <h1>Please create a new wallet</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="createWalletForm" (ngSubmit)="onCreateClicked()">
        <div class="form-group">
          <label>Name:</label>
          <input class="form-control" formControlName="walletName" type="text" placeholder="Enter a name for your wallet.">
          <div *ngIf="formErrors.walletName" class="alert alert-danger">{{formErrors.walletName}}</div>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" formControlName="walletPassword" type="password" placeholder="Enter a password for your wallet.">
          <div *ngIf="formErrors.walletPassword" class="alert alert-danger">{{formErrors.walletPassword}}</div>
        </div>
        <div class="form-group">
          <label>Network:</label>
          <select name="network" formControlName="selectNetwork">
            <!--<option value="main">Main</option>-->
            <option value="test">Testnet</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-secondary" (click)="onBackClicked()">Back</button>
          <button type="submit" [disabled]="!createWalletForm.valid" class="btn">Create Wallet</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col" id="mnemonic">
      <label>Mnemonic:</label>
      <label>{{responseMessage}}</label>
    </div>
  </div>
</div>
