<section id="breeze">
  <div class="login d-flex align-items-center text-center">
    <div class="container">
      <h3 class="display-5">Welcome to Breeze</h3>
      <div *ngIf="hasWallet">
        <p class="lead">Please choose the wallet you would like to open</p>
        <div class="row d-flex justify-content-center">
          <form class="col-md-8 col-xs-12 text-left" [formGroup]="openWalletForm">
            <div class="form-group">
              <label class="col-12 row" for="Select">Wallet</label>
              <select class="form-control custom-select col-12" formControlName="selectWallet">
                <option *ngFor="let wallet of wallets" [value]="wallet">{{ wallet }}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="text-left" for="Password">Password</label>
              <input type="password" class="form-control" id="Password" formControlName="password" placeholder="Enter your password.">
              <div *ngIf="formErrors.password" class="form-control-feedback">{{ formErrors.password }}</div>
            </div>
          </form>
        </div>
        <!-- /row-->
        <div class="row d-flex justify-content-center">
          <button type="submit" class="btn btn-darkgray btn-lg" [disabled]="!openWalletForm.valid" (click)="onDecryptClicked()">Decrypt</button>
        </div>
      </div>
      <!-- /row-->
      <div class="row d-flex justify-content-center" *ngIf="hasWallet;else no_wallet">
        <p class="lead">If you would like to create or restore a wallet please click the button below.</p>
      </div>
      <ng-template #no_wallet>
        <p class="lead">Looks like you're new here. <br />Please create or restore a wallet.</p>
      </ng-template>
      <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-darkgray btn-lg" (click)="onCreateClicked()">Create or restore a wallet</button>
      </div>
    </div>
    <!-- /container-->
  </div>
  <!-- /login-->
</section>
<!-- /breeze-->

