// Add Lato google font
@font-face {
	font-family: "Lato";
	src: url("./assets/fonts/Lato-Regular.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-LightItalic";
	src: url("./assets/fonts/Lato-LightItalic.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-Light";
	src: url("./assets/fonts/Lato-Light.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-Italic";
	src: url("./assets/fonts/Lato-Italic.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-HairlineItalic";
	src: url("./assets/fonts/Lato-HairlineItalic.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-Hairline";
	src: url("./assets/fonts/Lato-Hairline.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-BoldItalic";
	src: url("./assets/fonts/Lato-BoldItalic.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-Bold";
	src: url("./assets/fonts/Lato-Bold.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-BlackItalic";
	src: url("./assets/fonts/Lato-BlackItalic.ttf") format("truetype")
}
@font-face {
	font-family: "Lato-Black";
	src: url("./assets/fonts/Lato-Black.ttf") format("truetype")
}

@font-face {
  font-family: 'icon';
  src:  url('./assets/fonts/icon.eot?ste27o');
  src:  url('./assets/fonts/icon.eot?ste27o#iefix') format('embedded-opentype'),
    url('./assets/fonts/icon.ttf?ste27o') format('truetype'),
    url('./assets/fonts/icon.woff?ste27o') format('woff'),
    url('./assets/fonts/icon.svg?ste27o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-coin:before {
  content: "\e964";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-block:before {
  content: "\eae8";
}
.icon-tumblebit:before {
  content: "\e901";
  color: #dce8f1;
}
.icon-stratis:before {
  content: "\e900";
}
.icon-syncr:before {
  content: "\e1";
}
.icon-bitcoin:before {
  content: "\e2";
}
